.graph {
    float: left;
    width: 750px;
    height: 450px;
    padding-top: 25px;
}

.descr {
    width: 500px;
    height: 450px;
    padding-top: 25px;
}

.para {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color:#192231;
}
