.links {
    background-color: #192231;
}

.individuallink {
    margin-top: 25px;
    margin-right: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #D4AF37;
}