.mainmenu {
    background-color: #192231 !important;
    margin: 0px;
    display: inline;
}

.links {
    background-color: #192231;
}

.individuallink {
    margin-top: 25px;
    margin-right: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}